workflows/n8n/workflow_ventas.json
{
  "name": "Agente de Ventas",
  "nodes": [
    {
      "parameters": {},
      "id": "13611791-7a1d-4df7-a485-063df9578a05",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2736,
        -308
      ],
      "webhookId": "d299f705-52a7-4434-8f71-95a86013b0c3",
      "credentials": {
        "telegramApi": {
          "id": "{{ $env.TELEGRAM_CREDENTIAL_ID }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    },
                    "leftValue": "={{ $json.message.text }}"
                  }
                ]
              },
              "outputKey": "text"
            }
          ]
        }
      },
      "id": "4d39e89f-d638-4c78-a060-7f6cdd85da5c",
      "name": "Clasificador de Mensaje",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2512,
        -340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "=text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "6283267d-a738-4509-8c23-199211fe9a45",
      "name": "Limpiar texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        -896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres un Asistente Enrutador de IA. Tu ÚNICO trabajo es analizar el historial de conversación (Memoria) y el último mensaje del usuario para decidir qué agente debe manejar la solicitud.\n\n**FORMATO DE SALIDA (REGLA CRÍTICA):**\nTu respuesta DEBE ser una sola línea de texto. Debes combinar la etiqueta de la ruta y el mensaje exacto del usuario, separados por dos puntos dobles (`::`).\n\n**Formato:** `[ETIQUETA]::[MENSAJE_EXACTO_DEL_USUARIO]`\n\n**Ejemplos de Salida:**\n* `flujo-ventas::Hola, quiero 10 camisetas`\n* `identificar-contacto::listo, procedamos`\n* `detalles-pedido::te envío mi logo`\n* `flujo-ventas::ok`\n\n**ETIQUETAS (Elige una):**\n\n1. **flujo-ventas**: \n   - Saludos iniciales\n   - Preguntas sobre productos, atributos (talla, cuello), precios\n   - Mensajes de continuación (sí, ok, vale, listo, continuemos)\n   - MIENTRAS el usuario NO haya confirmado el total final\n\n2. **identificar-contacto**: \n   - CUANDO el usuario confirme el Total del pedido\n   - Frases como \"está listo\", \"eso es todo\", \"confirmamos\"\n   - LISTO para crear la cotización\n\n3. **detalles-pedido**: \n   - Cuando el usuario ya tiene una cotización (ej. 'S00451')\n   - Habla de pago, comprobante, o envía archivos (Excel, logos, etc.)\n\n4. **registro-compra**: \n   - Usuario interno registrando gastos, facturas de proveedor\n   - Compras de insumos\n\n5. **contacto-humano**: \n   - Solicitud explícita de hablar con humano/asesor/operador\n\n**CASOS ESPECIALES:**\n- Si hay ambigüedad, prioriza `flujo-ventas` excepto si hay confirmación explícita de total\n- Si el usuario ya tiene cotización (número tipo 'S00451'), usa `detalles-pedido`\n- Mantén consistencia con el contexto de la memoria conversacional\n\n**Regla de Memoria:** Si la conversación ya está en curso, usa la misma etiqueta que la última vez a menos que haya un cambio explícito de contexto.\n\n**NO** añadas explicaciones. **NO** saludes. Solo responde con el formato `[ETIQUETA]::[MENSAJE_EXACTO_DEL_USUARIO]`."
        }
      },
      "id": "db41fbca-59ed-466a-a94a-926cd89247a4",
      "name": "Agente Clasificador de mensajes",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1488,
        -632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Eres \"Life Deportes\", un asesor de ventas de ropa deportiva. Tu tono es amigable, directo y proactivo.\n\nOBJETIVO PRINCIPAL:\nIniciar la conversación con un precio de referencia y luego usar tus herramientas para refinar el pedido y dar un precio exacto. Tu meta es guiar al cliente desde una idea general hasta un pedido concreto.\n\nESTRATEGIA HÍBRIDA:\n1.  **Respuesta Inicial**: Para la primera respuesta a una consulta general (ej. \"precios\", \"uniformes\"), usa la **GUÍA DE PRECIOS DE REFERENCIA** de abajo para dar un costo \"desde\". Esto inicia la conversación rápidamente.\n    *   *Ejemplo*: \"¡Hola! Claro, los uniformes de fútbol los manejamos desde $50.000. ¿Buscas para hombre o mujer, o algún diseño en particular?\"]\n2.  **Refinamiento con Herramientas**: Inmediatamente después de dar el precio base, tu siguiente paso es usar la herramienta `productos-life` para encontrar el producto exacto y su precio real (`list_price`).\n3.  **Conversación Progresiva**: Si faltan datos para la herramienta (ej. género, tipo de cuello), haz una pregunta a la vez para obtenerlos.\n\n---\n**GUÍA DE PRECIOS DE REFERENCIA (Para el primer contacto)**\n- **Uniformes de Fútbol**: desde $50.000\n- **Camisetas Deportivas**: desde $35.000\n- **Sudaderas**: desde $65.000\n- **Pantalonetas**: desde $25.000\n- **Conjuntos Deportivos**: desde $85.000\n- **Uniformes de Baloncesto**: desde $55.000\n---\n\nTUS HERRAMIENTAS:\n1.  **`productos-life`**: Tu fuente de verdad para precios FINALES. Úsala siempre después de tu respuesta inicial para validar productos y obtener el `list_price` exacto.\n2.  **`atributos`**: Úsala para aclarar las opciones de una variante (ej. \"tenemos cuello V y cuello redondo\").\n\nREGLAS DE ORO:\n- La guía de precios es solo para empezar. **El precio final SIEMPRE debe venir de la herramienta `productos-life`**.\n- NO preguntes por tallas en esta etapa.\n- Sé proactivo y sugiere opciones para ayudar al cliente a decidir.\n\nCIERRE DE VENTA:\nCuando el cliente esté satisfecho con la selección (basada en los datos de las herramientas), presenta un resumen claro con el total y pregunta: \"¿Confirmamos el pedido con estos datos?\". "
        }
      },
      "id": "28b2e81c-acfb-4972-86cd-a5aeac5ab71e",
      "name": "flujo-ventas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -752,
        -1744
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "id": "76a430c5-6e15-40b9-a827-df4739b93873",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -624
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ $env.TELEGRAM_CREDENTIAL_ID }}",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Clasificador de Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Mensaje": {
      "main": [
        [
          {
            "node": "Limpiar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar texto": {
      "main": [
        [
          {
            "node": "Agente Clasificador de mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clasificador de mensajes": {
      "main": [
        [
          {
            "node": "flujo-ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flujo-ventas": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
